body {
    background-color: lightblue;
}
.container2 {
    margin-top: 40px;
}
.date_span {
    float: right;
}
.chat-div {
    margin-top: 15px;
    background: rgb(135,224,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(135,224,253,1) 0%, rgba(255,255,255,1) 50px); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(50px,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(255,255,255,1) 50px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(255,255,255,1) 50px); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(255,255,255,1) 50px); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(135,224,253,1) 0%,rgba(255,255,255,1) 50px); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.b-send {
    margin-top: 10px;
}
.btn-right {
    margin-left: 18px;
}
.chat-border {
    border-radius: 5px;
}
.emote-big {
    width: 50px;
}
.emote-small {
    width: 25px;
}
.cc-title {
    padding-top: 22px;
}
.cc-user {
    padding-top: 22px;
}
.row-width {
    width: 99%;
}
