{% extends "base.html" %}

{% block content %}

    {% if logged_in %}
        <div class="container2">
            <div class="row row-width">
                <div class="col-md-4 col-md-offset-2">
                    <form method="post" action="/msgsent">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Message: </label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="7" name="msg" placeholder="Text here" maxlength="750" required></textarea>
                            </div>
                            <div class="btn-right">
                            <button class="col-md-2 col-md-offset-2 b-send btn btn-default">Send</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    {% for msg in message %}
                        <div class="list-group-item chat-div chat-border">
                            <p class="list-group-item-heading">Name: {{ msg.name }}<span class="date_span">Date: {{ msg.created.strftime('%d.%m.%Y at %H:%M') }}</span></p>
                            <h4 class="list-group-item-text">{{ msg.msg }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <center><h1>Please login</h1></center>
    {% endif %}

{% endblock content %}
