{% extends "base.html" %}

{% block content %}

        <div class="container2">
            <div class="row row-width">
                <div class="col-md-4 col-md-offset-2">
                    <label class="col-md-2">Emotes: </label>
                    <div id="emoticons">
                        &nbsp &nbsp
                        <img onclick="insertSmiley('SmartNinja')" alt="SmartNinja" class='emote-small' src='/assets/emote-icons/SmartNinja.gif'>
                        <img onclick="insertSmiley('DeaD')" alt="DeaD" class='emote-small' src='/assets/emote-icons/DeaD.gif'>
                        <img onclick="insertSmiley('DeviL')" alt="DeviL" class='emote-small' src='/assets/emote-icons/DeviL.gif'>
                        <img onclick="insertSmiley('MhehE')" alt="MhehE" class='emote-small' src='/assets/emote-icons/MhehE.gif'>
                        <img onclick="insertSmiley('RlY')" alt="RlY" class='emote-small' src='/assets/emote-icons/RlY.gif'>
                        <img onclick="insertSmiley('SaD')" alt="SaD" class='emote-small' src='/assets/emote-icons/SaD.gif'>
                        <img onclick="insertSmiley('SumljiV')" alt="SumljiV" class='emote-small' src='/assets/emote-icons/SumljiV.gif'>
                        <img onclick="insertSmiley('WinkWink')" alt="WinkWink" class='emote-small' src='/assets/emote-icons/WinkWink.gif'>
                        <img onclick="insertSmiley('WooT')" alt="WooT" class='emote-small' src='/assets/emote-icons/WooT.gif'>
                        <img onclick="insertSmiley('ZombiE')" alt="SmartNinja" class='emote-small' src='/assets/emote-icons/ZombiE.gif'>
                    </div>
                    <form method="post" action="/msgsent">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Message: </label>
                            <div class="col-md-10">
                                <textarea id="emote" class="form-control" rows="7" name="msg" placeholder="Text here" maxlength="750" required></textarea>
                            </div>
                            <div class="btn-right">
                            <button class="col-md-2 col-md-offset-2 b-send btn btn-default">Send</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    {% for msg in message %}

                        <div class="panel panel-primary">
                            <div class="panel-heading">Name: {{ msg.name }}<span class="date_span">Date: {{ msg.created.strftime('%d.%m.%Y at %H:%M') }}

                                {% if admin %}

                                    <a href="/{{ msg.key.id() }}/delete"><img class="delete-size" src="/assets/emote-icons/delete.gif"></a>

                                {% elif user.nickname() == msg.name %}

                                    <a href="/{{ msg.key.id() }}/delete"><img class="delete-size" src="/assets/emote-icons/delete.gif"></a>

                                {% endif %}

                            </span></div>

                            <div class="panel-body">

                            {{ msg.msg }}

                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock content %}
